*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}
button{
  background-color:olivedrab;
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 5px 30px;
  color:olive;
}



#initial-screen, #start-timer{
    text-align: center;
  }
  
#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55%;
  margin: 0 auto;
}


